html{
    background-color: wheat;
}
.wel{
    text-align: center;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.main{
    font-family: Candara;
    font-size: large;
}